@import '@styles/variables.scss';

.tab-menu {
  display: flex;
  width: 100%;
  background: darken(#777, 10);
  height: 35px;
  border-radius: inherit;
}

.tab-menu-item {
  $activeColor: #ccc;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 10px;
  border-bottom: 2px darken(#777, 10) solid;

  &:first-child {
    border-radius: $element-border-radius 0 0 0;
  }

  &.active {
    border-bottom: 2px $activeColor solid;
    background-color: #777;
    color: $activeColor;
  }

  &:not(.active) {
    &:hover {
      color: $activeColor;
    }
  }
}
