@import '@styles/variables.scss';

.item-tooltip-container {
  // margin-bottom: 40px;
}

.item-tooltip {
  width: 400px;
}

.item-tooltip-separator {
  width: 100%;
  height: 2px;
  margin: 10px 0;
  background-color: $primary;
  border-radius: $element-border-radius;
}

.item-tooltip-header {
  display: flex;
  align-items: center;
}

.item-tooltip-icon {
  position: relative;
  min-width: $item-size;
  max-width: $item-size;
  height: $item-size;
  border-radius: $element-border-radius;
  background-color: lighten($dark-gray, 10);
  // background-color: lighten($dark-gray, 5);
}

.item-tooltip-title {
  margin-left: 10px;
  margin-right: 20px;
  white-space: normal;
  color: $primary-light;
}

.item-tooltip-header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 1px;
  margin-left: auto;

  &,
  p,
  span {
    color: $primary-light;
    font-weight: 500;
  }

  svg {
    path {
      fill: $primary-light;
    }
  }
}

.item-tooltip-upgrade {
  display: flex;
  align-items: center;
}

.item-tooltip-upgrade-points {
  display: flex;
  align-items: center;

  svg {
    width: auto;
    height: 16px;
    margin-left: 3px;
  }
}

.item-tooltip-upgrade-points.insufficient {
  color: $error;

  svg {
    path {
      fill: $error;
    }
  }
}

.item-tooltip-upgrade-points {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.item-tooltip-upgrade-points.insufficient {
  color: $error;
}

.item-tooltip-description {
  white-space: normal;
}

.item-tooltip-stats {
  display: flex;
  column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.item-tooltip-stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 5px;
  background-color: lighten($dark-gray, 10);
  border-radius: $element-border-radius;
}

.its-name {
  color: $primary-light;
  font-weight: 600;
}

.its-value {
  margin-left: 10px;
}
